<h1>View of Photos</h1>

<%= form_tag(url_for(:action => 'exec_shoot'), :remote => true) do %>
  <%= submit_tag "Shoot!" %>
<% end %>

<div id="picnum"></div>

<p>
<img src=photo_serve/test.jpg width=120>
</p>
